{:highlights [{:id #uuid "653ec526-7423-4df0-9e1b-bec7e4a7a32d",
               :page 2,
               :position {:bounding {:x1 129,
                                     :y1 271,
                                     :x2 398,
                                     :y2 491,
                                     :width 974.9999999999999,
                                     :height 1379.2379983487447},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1698612516305},
               :properties {:color "red"}}
              {:id #uuid "653ec537-ebcf-4af0-acbe-e0d896833bd5",
               :page 1,
               :position {:bounding {:x1 558,
                                     :y1 1007,
                                     :x2 878,
                                     :y2 1273,
                                     :width 974.9999999999999,
                                     :height 1379.2379983487447},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1698612534588},
               :properties {:color "green"}}
              {:id #uuid "65468d41-e1e6-4687-acc1-4f2b3cb3cec5",
               :page 2,
               :position {:bounding {:x1 451,
                                     :y1 81.5999755859375,
                                     :x2 656,
                                     :y2 282.5999755859375,
                                     :width 750,
                                     :height 1060.9523064221116},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1699122496483},
               :properties {:color "green"}}
              {:id #uuid "65468ecc-07b2-4b4e-9358-bb677064c1c5",
               :page 2,
               :position {:bounding {:x1 388,
                                     :y1 466.5999755859375,
                                     :x2 713,
                                     :y2 587.5999755859375,
                                     :width 750,
                                     :height 1060.9523064221116},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1699122891129},
               :properties {:color "blue"}}
              {:id #uuid "65469004-876e-49ae-a12d-95fe64d301e6",
               :page 2,
               :position {:bounding {:x1 408,
                                     :y1 800.5999755859375,
                                     :x2 685,
                                     :y2 1016.5999755859375,
                                     :width 750,
                                     :height 1060.9523064221116},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1699123203444},
               :properties {:color "purple"}}
              {:id #uuid "654692e4-84b9-4b29-a588-266a56c05829",
               :page 3,
               :position {:bounding {:x1 410,
                                     :y1 144,
                                     :x2 519,
                                     :y2 243,
                                     :width 750,
                                     :height 1060.9523064221116},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1699123939697},
               :properties {:color "green"}}
              {:id #uuid "654693d1-f0f1-4edd-98c0-3cf6ad0d6000",
               :page 3,
               :position {:bounding {:x1 528,
                                     :y1 150,
                                     :x2 696,
                                     :y2 244,
                                     :width 750,
                                     :height 1060.9523064221116},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1699124176475},
               :properties {:color "purple"}}
              {:id #uuid "654696f8-32fe-4920-9854-fe7a4939b167",
               :page 3,
               :position {:bounding {:x1 372,
                                     :y1 580,
                                     :x2 725,
                                     :y2 882,
                                     :width 750,
                                     :height 1060.9523064221116},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1699124983464},
               :properties {:color "blue"}}],
 :extra {:page 3}}
