{:highlights [{:id #uuid "653ec526-7423-4df0-9e1b-bec7e4a7a32d",
               :page 2,
               :position {:bounding {:x1 129,
                                     :y1 271,
                                     :x2 398,
                                     :y2 491,
                                     :width 974.9999999999999,
                                     :height 1379.2379983487447},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1698612516305},
               :properties {:color "red"}}
              {:id #uuid "653ec537-ebcf-4af0-acbe-e0d896833bd5",
               :page 1,
               :position {:bounding {:x1 558,
                                     :y1 1007,
                                     :x2 878,
                                     :y2 1273,
                                     :width 974.9999999999999,
                                     :height 1379.2379983487447},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1698612534588},
               :properties {:color "green"}}],
 :extra {:page 2}}
