{:highlights [{:id #uuid "64fc54fc-158d-4a27-ba40-016760151bba",
               :page 3,
               :position {:bounding {:x1 132,
                                     :y1 76.800048828125,
                                     :x2 580,
                                     :y2 451.800048828125,
                                     :width 714.3312,
                                     :height 952.4412},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1694258426898},
               :properties {:color "yellow"}}
              {:id #uuid "64fc77b7-3188-4da6-90c3-6b298ea4e73e",
               :page 4,
               :position {:bounding {:x1 55,
                                     :y1 308.39990234375,
                                     :x2 422,
                                     :y2 619.39990234375,
                                     :width 840,
                                     :height 1119.9995296299533},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1694267318152},
               :properties {:color "red"}}
              {:id #uuid "64fc7a0f-f416-4dc0-b1b7-f308dbd589b5",
               :page 5,
               :position {:bounding {:x1 59,
                                     :y1 82.39990234375,
                                     :x2 774,
                                     :y2 619.39990234375,
                                     :width 840,
                                     :height 1119.9995296299533},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1694267917584},
               :properties {:color "green"}}],
 :extra {:page 4}}
