{:highlights [{:id #uuid "64fc54fc-158d-4a27-ba40-016760151bba",
               :page 3,
               :position {:bounding {:x1 132,
                                     :y1 76.800048828125,
                                     :x2 580,
                                     :y2 451.800048828125,
                                     :width 714.3312,
                                     :height 952.4412},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1694258426898},
               :properties {:color "yellow"}}
              {:id #uuid "64fc77b7-3188-4da6-90c3-6b298ea4e73e",
               :page 4,
               :position {:bounding {:x1 55,
                                     :y1 308.39990234375,
                                     :x2 422,
                                     :y2 619.39990234375,
                                     :width 840,
                                     :height 1119.9995296299533},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1694267318152},
               :properties {:color "red"}}
              {:id #uuid "64fc7a0f-f416-4dc0-b1b7-f308dbd589b5",
               :page 5,
               :position {:bounding {:x1 59,
                                     :y1 82.39990234375,
                                     :x2 774,
                                     :y2 619.39990234375,
                                     :width 840,
                                     :height 1119.9995296299533},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1694267917584},
               :properties {:color "green"}}
              {:id #uuid "64fddbc6-a0fc-4072-880a-86e7cf5eeedd",
               :page 6,
               :position {:bounding {:x1 97,
                                     :y1 102,
                                     :x2 870,
                                     :y2 640,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1694358468725},
               :properties {:color "green"}}
              {:id #uuid "64fddf0e-4851-457f-9ea3-d6be6754de1b",
               :page 7,
               :position {:bounding {:x1 85,
                                     :y1 101,
                                     :x2 480,
                                     :y2 835,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1694359309407},
               :properties {:color "blue"}}
              {:id #uuid "64ff630f-107d-4f8c-9ec4-59e32ff15d6b",
               :page 7,
               :position {:bounding {:x1 70,
                                     :y1 799,
                                     :x2 441,
                                     :y2 1144,
                                     :width 914.9999999999999,
                                     :height 1219.9994876326275},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1694458637970},
               :properties {:color "green"}}
              {:id #uuid "64ff68ca-2744-40af-af4a-f0d27d6c2a2c",
               :page 7,
               :position {:bounding {:x1 455,
                                     :y1 90,
                                     :x2 851,
                                     :y2 867,
                                     :width 914.9999999999999,
                                     :height 1219.9994876326275},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1694460105629},
               :properties {:color "purple"}}
              {:id #uuid "64ff6add-9761-4892-916a-bfec1955adf6",
               :page 8,
               :position {:bounding {:x1 68,
                                     :y1 723,
                                     :x2 462,
                                     :y2 1133,
                                     :width 914.9999999999999,
                                     :height 1219.9994876326275},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1694460636787},
               :properties {:color "green"}}],
 :extra {:page 8}}
