{:highlights [{:id #uuid "6506d5cd-aed0-47e3-9218-612d2b42e16d",
               :page 2,
               :position {:bounding {:x1 28,
                                     :y1 30,
                                     :x2 941,
                                     :y2 827,
                                     :width 992.1266666666666,
                                     :height 1322.8349999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1694946763867},
               :properties {:color "red"}}
              {:id #uuid "6506ef25-4e73-4723-80bb-75431fa0a0de",
               :page 3,
               :position {:bounding {:x1 58,
                                     :y1 26,
                                     :x2 1508.5,
                                     :y2 842,
                                     :width 1508.032533333333,
                                     :height 2010.7092},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1694953252111},
               :properties {:color "green"}}
              {:id #uuid "65073aca-3ae6-4c95-9540-b386c0243cea",
               :page 4,
               :position {:bounding {:x1 68,
                                     :y1 113,
                                     :x2 570,
                                     :y2 1121,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1694972616898},
               :properties {:color "green"}}
              {:id #uuid "6507411a-11d4-4b44-a54e-7dccd29ab8fe",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 1166,
                                     :x2 1125.0933837890625,
                                     :y2 1347.6875,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects ({:x1 0,
                                   :y1 1166,
                                   :x2 0,
                                   :y2 1186,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 623,
                                   :y1 1308.75,
                                   :x2 1125.0933837890625,
                                   :y2 1325.75,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 787.296875,
                                   :y1 1315.734375,
                                   :x2 797.21875,
                                   :y2 1326.734375,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 623,
                                   :y1 1329.546875,
                                   :x2 727.472900390625,
                                   :y2 1346.546875,
                                   :width 1190.552,
                                   :height 1587.402}
                                  {:x1 668.125,
                                   :y1 1336.6875,
                                   :x2 678.046875,
                                   :y2 1347.6875,
                                   :width 1190.552,
                                   :height 1587.402}),
                          :page 3},
               :content {:text "Assuming a value of z1 ¼0.5, as in Brennan et al. (2003), it is found that g1 E1.46"},
               :properties {:color "green"}}
              {:id #uuid "650741e0-bd20-43dd-afda-819c9dd92ed6",
               :page 5,
               :position {:bounding {:x1 48,
                                     :y1 45,
                                     :x2 1167,
                                     :y2 741,
                                     :width 1190.552,
                                     :height 1587.402},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1694974431249},
               :properties {:color "blue"}}],
 :extra {:page 5}}
